html,body {
    background-color: #406BA6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
p {
    margin: 0;
}
.container {
    width: 100%;
}
.text {
    width: 100%;
}
.cursor {
    width: 2px;
    background-color: #fff;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
}
#letters {
    margin: 0 auto;
    width: 60%;
    display: flex;
}